@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Joystix';
  src: url('/fonts/joystix.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orange Kid';
  src: url('/fonts/Orange-Kid.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-shibutis-dark text-shibutis-text font-body antialiased;
    font-size: 16px;
    line-height: 1.6;
  }


  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
  }
}

/* Pixel font adjustments */
.font-pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

[data-rk] .ju367v9i {
  background: white !important;
  color : rgb(0 183 46) !important;
}

[data-rk] .ju367vei {
  box-shadow: none !important;
}

[data-rk] .ju367vn {
  border-radius: 8px;
}

[data-rk] .ju367v1h {
  font-weight: 500 !important;

}

[data-rk] .ju367v7t {
  height: 45px !important;
}